* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

.bg_main {
  width: 100%;
  height: 1435px;
  background-image: linear-gradient(135deg, #f8f8f8 5%, #c3cfe2 120%);
}

.logo {
  object-fit: contain;
  width: 90px;
}

.container_header {
  max-width: 1840px;
  margin: 0 auto;
  padding: 29px 40px;
}

.fixedHeader {
  background-color: #00000009;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 110px;
  margin-bottom: 60px;
  position: sticky;
  top: 0px;
  z-index: 90;
}


/* 
.fixedHeader a {
  color: #ffffff;
}


.fixedHeader .text {
  color: #ffff;
} */



.link_next_page {
  display: flex;
  justify-content: center;
  transform: translate(0px, -20px);

}

ul {
  z-index: 90;
}

.list,
li,
a {
  display: flex;
  gap: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  color: rgba(73, 80, 87, 1);
}

/* 
.list a:hover {
  color: #603E94;
  transform: scale(110%);
  border-bottom: 1px solid #603E94;
  transition: 0.5s ease;
  z-index: 90;
} */

.right_btn {
  display: flex;
  justify-content: end;
  transform: translate(0px, -46px);
  gap: 25px;
}

.right_btn p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #495057;
}

.btn_header {
  width: 129px;
  height: 50px;
  background: #603E94;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FCFDFF;
  border: none;
  transform: translate(0px, -17px);
  cursor: pointer;
}



.wrap_center_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

.title_center h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #E8417C;
  text-transform: uppercase;
}

.wrap_text_center h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #191a1b;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  padding-top: 29px;
}

.info_text_center p {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
  opacity: 0.9;
  padding-top: 26px;
}

.button-flex {
  display: flex;
  gap: 30px;
  padding-top: 53px;
  justify-content: center;
}

.btn_one {
  width: 191px;
  height: 72px;
  background: #603E94;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.img_btn {
  width: 30px;
  transform: translate(0px, 4px);
  position: relative;
  right: 10px;
}

.flex_btn {
  display: flex;
  transform: translate(18px);
}

.btn_two {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #495057;
  padding-top: 29px;
  cursor: pointer;
}

.btn_two:hover {
  color: #603E94;
  transition: 0.5s ease;
}

.containre_logo {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0px 30px;
  transform: translate(0px, 160px);
}

.sponor_logo_flex img {
  width: 149px;
  object-fit: contain;
  position: relative;
  top: -20px;
}

.sponor_logo_flex {
  display: flex;
  gap: 170px;
}

.container_down_block {
  max-width: 1640px;
  margin: 0 auto;
  padding: 260px 30px;
}

.flex_block {
  display: flex;
  gap: 351px;
}

.title-wrap-text h1 {
  width: 520px;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 130%;
  color: #2d3033;
}

.gigy {
  color: rgba(232, 65, 124, 1);
}

.title-wrap-text {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  color: #495057;
  opacity: 0.9;
}

.right_block_img_carusel {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  position: relative;
  right: 50px;
}

.block_item_right {
  width: 770px;
  height: 300px;
  background: rgba(96, 62, 148, .1);
  border-radius: 8px;
}

.block_container {
  max-width: 670px;
  margin: 0 auto;
  padding: 35px 0px;
  display: flex;
  gap: 23px;
}

.left_img_block img {
  width: 186px;
  height: 223px;
  border-radius: 4px;
  object-fit: cover;
  position: relative;
  right: 14px;
}

.flex_right_text {
  display: flex;
  justify-content: end;
}

.block_wrap_text {
  width: 1200px;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #495057;
}

.avtor_block {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  transform: translate(0px, -85px);
  position: relative;
  right: 43px;
}

.avtor_block h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;
  text-align: center;
  color: #23272E;
  margin-bottom: 8px;
}

.avtor_block p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #495057;
}

.img_icon {
  display: flex;
  justify-content: end;
  transform: translate(0px, -110px);
  position: relative;
  right: 25px;
}

.block_black_wrapper {
  width: 100%;
  height: 549px;
  background: #23272E;
  transform: translate(0px, 1px);
}

.container_black {
  max-width: 1690px;
  margin: 0 auto;
  padding: 1px 20px;
}

.bg_img_block {
  width: 100%;
  height: 550px;

  background-image: url('../src/public/bgGigyBlack\ \(1\).svg');
}

.title_center_block {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 130%;
  color: #FCFDFF;
  padding: 56px 0px;
  position: relative;
  top: 45px;
}

.insaett_g {
  color: rgb(163, 134, 207);
}

.item_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 59px;
}

.block_info_wrap {
  width: 380px;
  height: 248px;
  background: #495057;
  backdrop-filter: blur(64px);
  border-radius: 8px;
}

.img_top {
  padding: 18px 25px;
  position: relative;
  top: 12px;
}

.text_down_flex {
  padding: 49px 28px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.wrap_text {
  font-size: 20px;
  font-weight: 900;
  color: rgb(252, 253, 255);
}

.down_text {
  font-size: 18px;
  font-weight: 400;
  color: rgb(252, 253, 255);
}

.wrapper_block {
  margin-bottom: 155px;
}

.container_g {
  max-width: 1590px;
  margin: 0 auto;
  padding: 120px 20px;

}

.title_g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

}

.top {
  z-index: 3;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  color: #603E94;
}

.down_h {
  z-index: 3;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #495057;
}

.wrap_block_item_top {
  width: 1555px;
  height: 425px;
  background: #d5c2f7;
  border-radius: 16px;
  transform: translate(0px, 33px);
  margin-bottom: 70px;
}

.wrap_2 {
  width: 1555px;
  height: 425px;
  background: rgba(232, 65, 124, 0.1);
  border-radius: 16px;
  transform: translate(0px, 33px);
  margin-bottom: 70px;
}

.left_text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 120px 70px;
  z-index: 5;
}

.left_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  color: #495057;
  opacity: 0.9;
}

.text_block_h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 135%;
  color: #495057;
}

.right_block_flex {
  display: flex;
  justify-content: end;
  position: relative;
  top: -354px;
  padding-right: 90px;
}

.block {
  width: 780px;
}

.two_blocks_wrapper {
  display: flex;
  gap: 20px;
}

.blocks_one {
  width: 556px;
  height: 580px;
  background: #d5c2f7;
  border-radius: 16px;
}

.two_2 {
  background: rgba(232, 65, 124, 0.1);
}

.title_one_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
}

.title_one_block h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #1b1d1f;
}

.title_one_block h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  /* Grey 1 */
  color: #495057;
  opacity: 0.9;
}

.img_one_block {
  display: flex;
  justify-content: center;
}

.img_one_block img {
  width: 480px;
}

.blocks_one_two {
  width: 970px;
  height: 580px;
  background: #d5c2f7;
  border-radius: 16px;
}

.sh {
  background: rgba(232, 65, 124, 0.1);
}

.img_one_block_two {
  display: flex;
  justify-content: center;
  position: relative;
  top: -19px;
}

.shit {
  width: 850px;
}

.a {
  color: #E8417C;
}

.shit_j {
  width: 830px;
  position: relative;
  top: -25px;
}

.block_black_wrap {
  width: 1564px;
  height: 428px;
  background: #23272E;
  border-radius: 16px;
}

.bg_down_img {
  width: 100%;
  height: 428px;
  background-image: url('../src/public/bgGigyBlack\ \(1\).svg');
}

.text_flex_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px;
  gap: 15px;
}

.top_text_3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: #E8417C;
}

.down_text_7 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #FCFDFF;
}

.di {
  position: relative;
  top: -90px;
}

.b {
  background: #FCFDFF;
  color: #191a1b;
}

.s {
  color: #fff;
}

footer {

  width: 100%;
  height: 489px;
  background: rgb(239, 238, 240);
}

.conatent_footer {
  max-width: 1580px;
  margin: 0 auto;
  padding: 150px 40px;
}

.conatent_footer {
  display: flex;
  justify-content: flex-start;
}

.left_one {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left_one img {
  width: 95px;
  object-fit: cover;
}

.left_one p {
  line-height: 170%;
}

.social_bar {
  display: flex;
  gap: 30px;
}

.social_bar img {
  width: 20px;
  object-fit: contain;
  cursor: pointer;
}