@media only screen and (max-width: 994px) {

      .list,
      a {
            font-size: 15px;
            transform: translate(0px, -3px);
            position: relative;
            right: 15px;
      }

      .right_btn {
            transform: translate(0px, -48px);
      }

      .right_btn p {
            font-size: 15px;
      }

      .btn_header {
            width: 119px;
            height: 42px;
            position: relative;
            top: 4px;
      }
}

@media only screen and (max-width: 780px) {
      .list {
            display: none;
      }

      .right_btn {
            padding-top: 19px;
      }
}

@media only screen and (max-width: 688px) {

      .text,
      .btn_header {
            display: none;
      }
}

@media only screen and (max-width:9975px) {
      .menue {
            display: none;
      }
}

@media only screen and (max-width: 684px) {

      .menue {
            display: block;
            transform: translate(0px, -1px);
            cursor: pointer;
      }

      .menu_block {
            width: 34px;
            object-fit: contain;
      }
}

@media only screen and (max-width: 1075px) {
      .wrap_text_center h1 {
            font-size: 53px;
      }

      .title_center h1 {
            font-size: 22px;

      }

      .info_text_center p {
            font-size: 20px;
      }
}

@media only screen and (max-width: 785px) {
      .wrap_text_center h1 {
            font-size: 42px;
      }

      .title_center h1 {
            font-size: 23px;

      }

      .info_text_center p {
            font-size: 19px;
            position: relative;
            top: -6px;
      }
}

@media only screen and (max-width: 666px) {
      body {
            overflow-x: hidden;
      }

      .wrap_text_center h1 {
            font-size: 38px;
      }

      .title_center h1 {
            font-size: 19px;

      }

      .info_text_center p {
            font-size: 16px;
            position: relative;
            top: -6px;
      }
}

@media only screen and (max-width: 568px) {
      .wrap_text_center h1 {
            font-size: 32px;
      }

      .title_center h1 {
            font-size: 20px;

      }

      .info_text_center p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            position: relative;
            top: -6px;
            width: 390px;
      }
}

@media only screen and (max-width: 519px) {
      .btn_one {
            width: 241px;
            height: 56px;
      }

      .flex_btn {
            position: relative;
            left: 25px;
      }
}

@media only screen and (max-width: 470px) {
      .wrap_text_center h1 {
            font-weight: 700;
            font-size: 31px;
            width: 327px;
      }

      .title_center h1 {
            font-weight: 500;
            font-size: 17px;
            line-height: 14px;
            position: relative;
            top: 5px;
      }

      .info_text_center p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            position: relative;
            top: -6px;
            width: 390px;
      }
}


@media only screen and (max-width: 514px) {
      .button-flex {
            display: flex;
            flex-direction: column;
      }

      .flex_btn {
            display: flex;
            transform: translate(18px, -16px);
      }

      .img_btn {
            width: 30px;
            transform: translate(0px, 13px);
            position: relative;
            right: 10px;
      }
}

@media only screen and (max-width: 390px) {
      .bg_main {
            overflow-x: hidden;
            width: 102%;
            height: 160vh;
            background: #DDE2E5;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
      }
}

@media only screen and (max-width: 360px) {
      .bg_main {
            overflow-x: hidden;
            width: 109%;
            height: 160vh;
            background: #DDE2E5;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
      }
}

@media only screen and (max-width: 340px) {
      .bg_main {
            overflow-x: hidden;
            width: 116%;
            height: 160vh;
            background: #DDE2E5;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
      }
}

@media only screen and (max-width: 320px) {
      .bg_main {
            overflow-x: hidden;
            width: 118%;
            height: 160vh;
            background: #DDE2E5;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
      }

      .info_text_center p {
            font-size: 13px;
      }
}

@media only screen and (max-width: 1875px) {
      .bg_main {
            width: 100%;
            background: #ebf0f3;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
            overflow-x: hidden;
            overflow-y: hidden;
      }
}



@media only screen and (max-width: 1443px) {
      .bg_main {
            width: 123%;
            background: #ebf0f3;
            background: linear-gradient(180px, #eef4f7 990%, #ffffff 100%);
            backdrop-filter: blur(2200px);
      }
}

@media only screen and (max-width: 1627px) {
      .sponor_logo_flex {
            display: flex;
            gap: 160px;
      }
}

@media only screen and (max-width: 1483px) {
      .sponor_logo_flex {
            display: flex;
            gap: 140px;
      }
}


@media only screen and (max-width: 1377px) {
      .sponor_logo_flex {
            display: flex;
            gap: 120px;
      }
}

@media only screen and (max-width: 1289px) {
      .sponor_logo_flex {
            display: flex;
            gap: 80px;
      }
}


@media only screen and (max-width: 1079px) {
      .sponor_logo_flex {
            display: flex;
            gap: 45px;
      }
}

@media only screen and (max-width: 903px) {
      .sponor_logo_flex {
            display: flex;
            gap: 34px;
      }
}

@media only screen and (max-width: 850px) {
      .sponor_logo_flex {
            display: flex;
            gap: 20px;
      }
}

@media only screen and (max-width: 780px) {
      .sponor_logo_flex {
            display: flex;
            gap: 16px;
      }
}


@media only screen and (max-width: 764px) {
      .sponor_logo_flex {
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            transform: translate(10px, -120px);

      }
}

@media only screen and (max-width: 414px) {
      .sponor_logo_flex {
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            transform: translate(38px, -120px);
      }
}

@media only screen and (max-width: 517px) {
      .sponor_logo_flex {
            position: relative;
            top: -30px;
      }
}

@media only screen and (max-width: 427px) {
      .sponor_logo_flex {
            position: relative;
            top: -40px;
      }
}

@media only screen and (max-width: 390px) {
      .info_text_center p {
            font-size: 14px;
      }
}

@media only screen and (max-width: 336px) {
      .info_text_center p {
            font-size: 12px;
      }

      .sponor_logo_flex {
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            transform: translate(12px, -120px);
      }
}


@media only screen and (max-width:1371px) {

      .sponor_logo_flex {
            display: flex;
            gap: 29px;
            justify-content: center;
            flex-wrap: wrap;
            transform: translate(12px, -40px);
      }
}



@media only screen and (max-width: 1653px) {
      .block_item_right {
            width: 710px;
            height: 290px;
      }

      .block_wrap_text {
            font-size: 22px;
      }
}

@media only screen and (max-width: 1621px) {
      .block_item_right {
            width: 696px;
            height: 290px;
      }

      .block_wrap_text {
            font-size: 22px;
      }

      .left_img_block img {
            width: 176px;
            height: 223px;
      }
}

@media only screen and (max-width: 1601px) {
      .block_item_right {
            width: 686px;
            height: 290px;
      }

      .block_wrap_text {
            font-size: 22px;
      }

      .left_img_block img {
            width: 176px;
            height: 213px;
      }
}

@media only screen and (max-width: 1599px) {
      .block_item_right {
            width: 676px;
            height: 290px;
      }

      .block_wrap_text {
            font-size: 20px;
            position: relative;
            left: 28px;
      }

      .left_img_block img {
            width: 176px;
            height: 213px;
            position: relative;
            left: 20px;
      }
}

@media only screen and (max-width: 1575px) {
      .block_item_right {
            width: 676px;
            height: 290px;
            position: relative;
            right: 26px;
      }

      .block_wrap_text {
            font-size: 20px;
            position: relative;
            left: 28px;
      }

      .left_img_block img {
            width: 176px;
            height: 213px;
            position: relative;
            left: 20px;
      }
}

@media only screen and (max-width: 1559px) {
      .block_item_right {
            width: 676px;
            height: 290px;
            position: relative;
            right: 39px;
      }

      .block_wrap_text {
            font-size: 20px;
            position: relative;
            left: 28px;
      }

      .left_img_block img {
            width: 176px;
            height: 213px;
            position: relative;
            left: 20px;
      }
}

@media only screen and (max-width: 1735px) {
      .block_item_right {
            width: 736px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 39px;
      }
}

@media only screen and (max-width: 1581px) {
      .block_item_right {
            width: 736px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 100px;
      }

      .title-wrap-text h1 {
            font-size: 38px;
      }
}

@media only screen and (max-width: 1549px) {
      .block_item_right {
            width: 726px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 140px;
      }

      .title-wrap-text h1 {
            font-size: 35px;
      }

      .title-wrap-text p {
            font-size: 23px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width: 1501px) {
      .block_item_right {
            width: 726px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 190px;
      }

      .title-wrap-text h1 {
            font-size: 35px;
      }

      .title-wrap-text p {
            font-size: 23px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width: 1188px) {
      .block_item_right {
            width: 726px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 320px;
      }

      .title-wrap-text h1 {
            font-size: 35px;
      }

      .title-wrap-text p {
            font-size: 23px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width: 1076px) {
      .block_item_right {
            width: 726px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 380px;
      }

      .title-wrap-text h1 {
            font-size: 32px;
      }

      .title-wrap-text p {
            font-size: 20px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width: 1028px) {
      .block_item_right {
            width: 726px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 430px;
      }

      .title-wrap-text h1 {
            font-size: 32px;
      }

      .title-wrap-text p {
            font-size: 20px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width:988px) {
      .block_item_right {
            width: 696px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 430px;
      }

      .title-wrap-text h1 {
            font-size: 28px;
      }

      .title-wrap-text p {
            font-size: 18px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width:962px) {
      .block_item_right {
            width: 656px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 430px;
            top: -30px;
      }

      .title-wrap-text h1 {
            font-size: 28px;
      }

      .title-wrap-text p {
            font-size: 18px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }
}

@media only screen and (max-width: 932px) {
      .block_item_right {
            width: 626px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 430px;
            top: -30px;
      }

      .title-wrap-text h1 {
            font-size: 28px;
      }

      .title-wrap-text p {
            font-size: 18px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }

      .block_wrap_text {
            font-size: 18px;
      }

      .avtor_block {
            position: relative;
            left: 2px;
      }
}

@media only screen and (max-width: 900px) {
      .block_item_right {
            width: 606px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            right: 430px;
            top: -30px;
      }

      .title-wrap-text h1 {
            font-size: 28px;
      }

      .title-wrap-text p {
            font-size: 18px;
      }

      .title-wrap-text {
            padding-left: 10px;
      }

      .block_wrap_text {
            font-size: 18px;
      }

      .avtor_block {
            position: relative;
            left: 2px;
      }
}

@media only screen and (max-width: 892px) {
      .flex_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
      }

      .title-wrap-text {
            position: relative;
            top: -40px;
            left: 30px;
      }

      .title-wrap-text h1 {
            font-size: 43px;
      }

      .title-wrap-text p {
            font-size: 25px;
      }

      .right_block_img_carusel {
            transform: translate(430px, -240px);
      }
}

@media only screen and (max-width: 553px) {
      .flex_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
      }

      .title-wrap-text {
            position: relative;
            top: -54px;
            left: 39px;
      }

      .title-wrap-text h1 {
            font-size: 38px;
      }

      .title-wrap-text p {
            font-size: 23px;
      }

      .right_block_img_carusel {
            transform: translate(430px, -240px);
      }
}

@media only screen and (max-width: 517px) {
      .bg_main {
            height: 1900px;
      }

      .flex_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transform: translate(0px, -14px);
      }

      .title-wrap-text {
            position: relative;
            top: -90px;
            left: 39px;
      }

      .title-wrap-text h1 {
            font-size: 30px;
            width: 397px;
            line-height: 130%;

      }

      .title-wrap-text p {
            font-size: 23px;
      }

      .right_block_img_carusel {
            transform: translate(430px, -240px);
      }

      .block_item_right {
            width: 536px;
            height: 300px;
            background: hsl(263, 52%, 88%);
            border-radius: 8px;
            position: relative;
            transform: translate(0px, -99px);
      }

      .left_img_block img {
            width: 149.27px;
            height: 162.33px;
      }
      .flex_right_text h1{
            font-weight: 400;
            font-size: 15px;
            line-height: 180%;
            padding-top: 9px;
           
            width: 380px;
      }
      .avtor_block {
            position: absolute;
            top: 330px;
            right: 340px;
      }
      .img_icon {
            position: absolute;
            top: 360px;
      }
}

@media only screen and (max-width: 517px) {
      .block_black_wrapper {
            overflow-x: hidden;
      }
}